USE [master]
GO
/****** Object:  Database [Test_AnalyticalwaysDB]    Script Date: 27/9/2020 1:25:12 a. m. ******/
CREATE DATABASE [Test_AnalyticalwaysDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test_AnalyticalwaysDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Test_AnalyticalwaysDB.mdf' , SIZE = 1515520KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_AnalyticalwaysDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Test_AnalyticalwaysDB_log.ldf' , SIZE = 9838592KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test_AnalyticalwaysDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test_AnalyticalwaysDB]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 27/9/2020 1:25:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[PointOfSale] [nvarchar](100) NULL,
	[Product] [nvarchar](100) NULL,
	[Date] [Datetime] NULL,
	[Stock] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
